<div class="menu">
    <a href="/Home">Home</a>
    <a href="#todo">New recruit process</a>
    <a href="/Home/ManageRecruitment">Manage recruitment</a>
    <a href="/Home/NewCandidate">New candidate</a>
    <a href="/Home/FindCandidate">Find candidate</a>
    <a href="#todo">Contact candidate</a>
    <a href="/Logout">Logout</a>
</div>
