<div class="menu">
    <ul>
        <li><a href="/Home">Home</a></li>
        <li><a href="#todo">New recruit process</a></li>
        <li><a href="#todo">Manage recruitment</a></li>
        <li><a href="/Home/NewEmployee">New employee</a></li>
        <li><a href="#todo">Find employee</a></li>
        <li><a href="#todo">Contact employee</a></li>
        <li><a href="/">Logout</a></li>
    </ul>
</div>
