<link rel="stylesheet" href="~/css/login.css"/>
<div class="header">ERecruiter</div>
<br>
<div class="login-error">
    <p><b>Wrong login or password</b></p>
    <a class="button button-try" href="/">Try again</a>
</div>
<div></div>
