<link rel="stylesheet" href="~/css/login.css"/>
<div class="header">ERecruiter</div>
<br>
<div class="login">
    <form action="/CheckLogin" method="post">
        <br>
        <p><b>Login</b></p>
        <input class="inputer" type="text" name="login">
        <p><b>Password</b></p>
        <input class="inputer" type="text" name="password">
        <br>
        <input class="button button-start" type="submit" value="Start session">
    </form>
</div>
<div></div>
