<link rel="stylesheet" href="~/css/login.css"/>
<div class="header">ERecruiter</div>
<br>
<div class="login">
    <form action="/Login" method="post">
        <br>
        <p><b>Login</b></p>
        <input class="inputer" type="text" name="Login">
        <p><b>Password</b></p>
        <input class="inputer" type="text" name="Password">
        <br>
        <input class="button" type="submit" value="Start session">
    </form>
</div>
<div></div>
