<link rel="stylesheet" href="~/css/layouts.css"/>
<link rel="stylesheet" href="~/css/welcome.css"/>
<div class="page">
    <div class="title_text">
        E-Recruiter
    </div>    
    <div class="welcome_text">
            Welcome!<br>
            This is a demo version of the recruiter web application. The project was created 
            for educational goals. Do not try to use it. The author is not responsible for 
            the damage caused by this software.<br><hr>
            <input
                type="button"
                value="Start"
                class="button_text"
                onclick="location.href='/Home'"/>
    </div>
    @await Html.PartialAsync("_Footer")
</div>
