<link rel="stylesheet" href="~/css/layouts.css"/>
<link rel="stylesheet" href="~/css/add-reminder.css"/>
<div class="page">
    @await Html.PartialAsync("_Menu")
    <div class="reminder-add">
        <table class="addtable">
            <tr>
                <th>Add reminder</th>
            </tr>
            <tr>
                <td>
                    <form action="/InsertReminder" method="post">
                        <br>
                        <input class="input_text" type="text" name="text"><br><br>
                        <input class="input_button" type="submit" value="Add">
                    </form>
                </td>
            </tr>
        </table>
    </div>
    @await Html.PartialAsync("_Footer")
</div>
