<link rel="stylesheet" href="~/css/add-reminder.css"/>
<div class="content">
    @await Html.PartialAsync("_Menu")
    <div class="title">
        <p>Add reminder</p>
        <hr>
    </div>
    <div class="reminder-add">
        <form action="/InsertReminder" method="post">
            <textarea rows=6 cols=40 name="text">Reminder text...</textarea>
            <br>
            <input class="button button-input" type="submit" value="Add">
        </form>
    </div>
    @await Html.PartialAsync("_Footer")
</div>
