@{
	var candidates = ViewData["Candidates"] as List<erecruiter.Candidate>;
}

<link rel="stylesheet" href="~/css/find-candidate.css"/>
<div class="content">
    @await Html.PartialAsync("_Menu")
    <div class="title">
        <p>Find candidate</p>
        <hr>
    </div>
    <div class="find-panel">
        <form class="find-form" action="/FindCandidate" method="post">
            <table>
                <tr>
                    <td><label for="name">Name</label></td>
                    <td><input type="text" name="name"></td>
                    <td><label for="surname">Surname</label></td>
                    <td><input type="text" name="surname"></td>
                    <td><input type="submit" class="button button-find" value="Find"></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="find-candidate">
    @if (candidates.Count!=0)
    {
        <table class="candidate-table">
        @for(int i = 0; i < candidates.Count; i++)
        {
            <tr>
            @if(String.IsNullOrEmpty(candidates[i].PhotoData))
            {
                <td><img src="~/images/unknown.jpg" width="60%" height="100%"></td>
            }
            else
            {
                <td><img src="data:image/jpeg;base64, @candidates[i].PhotoData" width="60%" height="100%"></td>
            }
                <td>@candidates[i].Name @candidates[i].Surname</td>
                <td>
                    <form action="/ViewCandidate" method="post">
                        <input type="hidden" name="id" value="@candidates[i].Id"/>
                        <input class="button button-view" type="submit" value="View"/>
                    </form>
                </td>
            </tr>
        }
        </table>
    }
    else
    {
        <p>No candidates found</p> 
    }
    </div>
    @await Html.PartialAsync("_Footer")
</div>
