@{
   var hireProcess = ViewData["HireProcess"] as erecruiter.HireProcess;
}

<link rel="stylesheet" href="~/css/hireprocess.css"/>
<div class="content">
    @await Html.PartialAsync("_Menu")
    <div class="hireprocess">
    Test
    </div>
    @await Html.PartialAsync("_Footer")
</div>
