<link rel="stylesheet" href="~/css/layouts.css"/>
<link rel="stylesheet" href="~/css/index.css"/>
<div class="page">
    <div>
        <ul class="menu">
            <li><a href="/Home">Home</a></li>
            <li><a href="#new rec">New recruit process</a></li>
            <li><a href="#news">Manage recruitment</a></li>
            <li><a href="#contact">New employee</a></li>
            <li><a href="#about">Find employee</a></li>
            <li><a href="#about">Contact employee</a></li>
            <li><a href="/">About</a></li>
        </ul>
    </div>
    <div class="test">
        In progress
    </div>
    @await Html.PartialAsync("_Footer")
</div>
