<link rel="stylesheet" href="~/css/new-candidate.css"/>

<div class="content">
    @await Html.PartialAsync("_Menu")
    <div class="title">
        <p>New candidate</p>
        <hr>
    </div>
	<div class="new-candidate">New canidate View</div>
    @await Html.PartialAsync("_Footer")
</div>
