@import "body.css";
@import "menu.css";
@import "footer.css";

.reminder-add {
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;
}

.reminder-add textarea {
    margin-top: 10%;
    resize: none;
    font-family: "Times New Roman";
    font-size: 20px;
}

.button-input {
    margin-top: 5%;
    width: 30%;
    padding: 2%;
    font-size: 20px;
}
