html, body{
    margin: 0cm;
    height: 100%;
    border-width: thin;
    border-style: solid;
    border-color: red;
    background-image: url(../images/back_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    height: 100%;
    overflow: auto;
}
