@import "body.css";
@import "menu.css";
@import "footer.css";

.error {
    flex-grow: 1;
    width: 50%;
    margin-top: 20%;
    margin-left: 25%;
    margin-bottom: 22%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-size: 20px;
    text-align: center; 
}
