@import "body.css";
@import "menu.css";
@import "footer.css";

.find-panel {
    margin-left: auto;
    margin-right: auto;
}

.button-find {
    font-size: 20px;
    padding: 10%;
}

.find-panel td {
    font-size: 20px;
}

.find-candidate {
    flex-grow: 1;
    overflow: auto;
    border-style: solid;
    border-width: 3px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

.find-candidate p {
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    margin-top: 20%;
}

.candidate-table {
    flex-grow: 1;
    width: 100%
}

.candidate-table td {
    font-size: 20px;
    text-align: center;
    width: 33%;
}

.button-view {
    font-size: 20px;
    margin-top: 13%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 60%;
}
