@import "body.css";
@import "menu.css";
@import "footer.css";

.hireprocess {
    overflow: auto;
    flex-grow: 1;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 10%;
}

.main-talbe {
    width: 90%;
    height: 75%;
    margin: 5%;
}

.inner-table {
    width: 100%;
    height: 100%;
}

.info {
    height: 20%;
    font-size: 20px;
}

.info-buttons {
    height: 40%;
}

.button-edit {
    font-size: 20px;
    margin-left: 5%;  
    width: 90%;
    padding-top: 10%;
    padding-bottom: 12%;
}

.button-save {
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.comments {
    width: 100%;
    height: 100%;
}

.comments-header {
    width: 100%;
    height: 20%;
}

.comments-text textarea {
    resize: none;
    font-size: 16px;
    height: 80%;
    width: 100%;
}
