.menu {
  background-color: black;
  margin: 0px;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 16px;
}

.menu li a:hover {
  background-color: grey;
}

.test {
  flex-grow: 1;
}