html, body{
    margin: 0cm;
    height: 100%;
    border-width: thin;
    border-style: solid;
    border-color:red;
    background-color: blue;
}

.page{
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    height: 100%;
    overflow: auto;
    padding: 0px;
    display: flex;
    flex-flow: column;
}

.footer{
    height: 100px;
    text-align: center;
}