html, body{
    margin: 0cm;
    height: 100%;
    border-width: thin;
    border-style: solid;
    border-color: red;
    background-image: url(../images/back_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.page{
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    height: 100%;
    overflow: auto;
    padding: 0px;
    display: flex;
    flex-flow: column;
}

.menu {
    background-color: black;
    margin: 0px;
}
  
.menu li {
    display: inline-block;
}
  
.menu li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 16px;
}
  
.menu li a:hover {
    background-color: grey;
}

.footer{
    height: 100px;
    text-align: center;
}
