.menu {
    background-color: black;
}

.menu a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 2%;
}

.menu a:hover {
    background-color: grey;
}
