@import "body.css";
@import "menu.css";
@import "footer.css";

.template-update {
    width: 60%;
    margin-left: 20%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    flex-grow: 1;
}

.input {
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
}

.input input {
    width: 80%;
}

.input-text {
    margin-top: 2%;
}

.input-text textarea {
    font-size: 18px;
    resize: none;
    width: 80%;
    margin-left: 10%;
    font-family: "Times New Roman";
}

.input-button {
    margin-top: 1%;
    text-align: center;
}

.button-add {
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}
